.topnav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  /* Fix the navigation bar */
  position: fixed;
  top: 0;
  z-index: 10;
}

.tweeter-nav {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
  align-self: baseline;
}

.wrire-btn {
  align-self: center;
}