/* Black box around the tweet */
article.tweet {
  margin-top: 50px;
  padding: 20px;
  border: 3px solid black;
}

/* Flex box for name and avatar */
article.tweet header div.user > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

article.tweet header div.user div img {
  padding-right: 10px;
}

/* Flex box for (name avatar) and handle */
article.tweet div.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet:hover {
  box-shadow: 5px 10px #888888;
}

/* Making the handle visible when hovering over the tweet */
div.user span.handle {
  color: #b3b3b3;
  opacity: 0;
}
article.tweet:hover div.user span.handle {
  opacity: 1;
}


article.tweet header {
  border-bottom: 3px solid black;
}

article.tweet footer span {
  font-size: .6em;
}